body div {
    width: 1000px;
    height: 1860px;
    margin: auto;
    font-family: Georgia;

}

header {
    height: 60px;
    background-color: #2e2e2e;
    padding: 0 20px;
}

header #left {
    float: left;
}

header #left a {
    padding: 0 5px 0 5px;
    float: left;
    overflow: hidden;
    text-decoration: none;
    color: lightgrey;
    font-size: 12px;
    border-left: solid 1px lightgrey;
    margin: 20px 0;
}

header #left a#left1 {
    border: none;
    padding: 0 5px 0 0;
}

header #left a:hover {
    color: grey;
}

header #left, header #right {
    height: 60px;
    width: 50%;
}

header #right {
    position: relative;
    overflow: hidden;
    text-align: right;

}

header #right i {
    color: lightgrey;
    padding: 20px 5px 0 0;

}

header #right a {
    text-decoration: none;
}

#right i:hover {
    color: red;

}

#nav {
    clear: both;
    width: 960px;
    height: 75px;
    margin: 0 20px;
}

#nav a {
    padding: 30px 10px 10px 0;
    float: left;
    overflow: hidden;
    text-decoration: none;
    color: black;
    font-size: 14px;

}

#nav a:hover {
    color: lightslategrey;
    text-decoration: none;
    border-bottom: solid 5px #0099ff;
}

#head {
    margin: 0 20px;
    width: 960px;
    height: 55px;
    padding: 45px 0;
    overflow: hidden;

}

#head #headtext, #head #search {
    height: 55px;
    width: 50%;
    overflow: hidden;
    float: left;

}

#head #search {
    position: relative;
    overflow: hidden;
    text-align: right;

}

#head #headtext h1, #head #headtext p {
    margin: 0;

}

#head #headtext p {
    color: grey;
    font-size: 14px;
}

#head #search button, #contactus button {
    overflow: hidden;
    text-decoration: none;
    font-size: 11px;
    color: white;
    background-color: #0099ff;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#head #search button:hover, #head #search button:hover, #contactus button:hover{
    background-color: black;
    color: white;
}

#head #search form {
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;

}

#head #search input {
    background-color: #f1f1f1;
    overflow: hidden;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 11px;
}

#section1 {
    height: 465px;
    background-color: #f1f1f1;
    position: relative;

}

#section1 div {

    width: 350px;
    text-align: left;
    overflow: hidden;
    height: 465px;
    background-color: #f1f1f1;
    margin: 0 0 0 20px;
    float: left;

}

#section1 p {
    text-align: justify;
    color: grey;
}

#section1 #section11 {
    height: 250px;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 0;
    transform: translate(-0, -50%);
}

#section1 a {
    overflow: hidden;
    text-decoration: none;
    font-size: 15px;
    color: #f1f1f1;
    background-color: #0099ff;
    padding: 5px 15px;
    border-radius: 5px;
}

#section1 #section1blacksquare {
    height: 440px;
    width: 550px;
    background-color: #333333;
    position: absolute;
    top: 12px;
    right: 20px;

}

#section1blacksquare h3 {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section2 {
    height: 505px;
    margin: 0 20px;
    width: 960px;

}

#section21, #section22 {
    height: 425px;
    width: 470px;
    float: left;
    margin: 40px 0;
    position: relative;
}

.section23 {
    height: 212px;
    width: 225px;
    float: left;
    margin: 0;

}

.section23 div {
    height: 212px;
    width: 225px;
    position: absolute;
    margin: 0 0 0 20px;
}

#section2blacksquare {
    height: 80px;
    width: 85px;
    background-color: #333333;
    position: absolute;
    margin: 0;
    top: 0;
    left: 22%;
    overflow: hidden;

}

#section2blacksquare p {
    margin: 0;
    width: 85px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section24 {
    height: 145px;
    width: 225px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    margin: 0;

}

#section24 h3 {
    color: #0099ff;
    font-weight: normal;
    width: 180px;
}

#section24 p {
    width: 180px;
    text-align: justify;
}

#section3 {
    height: 120px;
    background-color: #e0e0e0;
    margin: 0 20px;
    width: 950px;
    border-left: solid 10px #0099ff;

}

#section3 #section31 {
    height: 70px;
    width: 500px;
    padding: 30px 0 20px 30px;
    float: left;
}

#section31 h1, #section31 p {
    margin: 0;
}

#section31 h1 {
    font-size: 27px;
}

#section31 p {
    font-size: 15px;
}

#section3 #section3link {
    float: right;
    height: 70px;
    width: 250px;
    padding: 30px 30px 20px 30px;
    margin: 18px 0 0 0;
}

#section3link a {
    overflow: hidden;
    text-decoration: none;
    font-size: 23px;
    color: #e0e0e0;
    background-color: #0099ff;
    padding: 20px 10px;
    border-radius: 8px;
}

#section3link a:hover, #section1 a:hover {
    background-color: black;
    color: white;
}

#section4 {
    height: 40px;

}

#section5 {
    height: 390px;
    background-color: #1a1a1a;
    position: relative;
}

#section5 div {
    height: 390px;
    width: 25%;
    float: left;

}

#section5 div div {
    height: 345px;
    width: 215px;
    padding: 45px 0 0 20px;

}

#section5 div div p {
    color: white;
    margin: 0;
}

#section5 div div #section5blacksquare {
    height: 90px;
    width: 215px;
    background-color: #232323;
    position: absolute;
    margin: 20px 20px 0 0;
    padding: 0;
    overflow: hidden;
}

#section5 div div #section5blacksquare p {
    margin: 0;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section5 div div #section5blacksquaretext {
    margin: 141px 0 0 0;
    color: lightslategrey;
    font-size: 13px;
}

#section5 div div a {
    color: cornflowerblue;
    overflow: hidden;
    text-decoration: none;
    font-size: 13px;

}

#section5 div ul {
    margin: 0;
    padding: 20px 0 0 15px;
    color: cornflowerblue;
    line-height: 1.8;
    font-size: 13px;
}

#section5 div div div {
    margin: 0;
    padding: 20px 0 0 0;
}

#section5 div div div .latestblogtext {
    color: lightslategrey;
    font-size: 12px;
    margin: 0;
    padding: 0;

}

#section5 div div div h3 {
    color: lightslategrey;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#section5 div div #section5link {
    position: relative;
    margin: 0;
    padding: 0;
    height: 30px;
}

#section5 div div #section5link a {
    position: absolute;
    right: 0;
}

#contactus input {
    background-color: #232323;
    overflow: hidden;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 11px;
    width: 190px;
    color: lightslategrey;
    margin: 5px 0;
}

#contactus textarea {
    height: 100px;
    background-color: #232323;
    overflow: hidden;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 11px;
    width: 190px;
    color: lightslategrey;
    margin: 5px 0;
    resize: none;
}

footer {
    height: 60px;
    background-color: #222222;
}

footer div {
    height: 60px;
    color: grey;
    width: 50%;
    overflow: hidden;
    float: left;
}

footer div p {
    margin: 0;
    padding: 20px;
    font-size: 12px;

}

footer div #footerright {
    float: right;
}

